{% load static %}
<!DOCTYPE html>
<html>
  <!-- <link rel="stylesheet" href="{% static 'myfirst.css' %}" /> -->
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
  <body>
    {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

    <h1>Welcome</h1>

    <p>This is my webpage</p>
    {% for x in fruits %}
    <h1>{{ x }}</h1>
    {% endfor %}

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      {% for x in mymembers %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
